<?xml version="1.0"?>
<launch>
<!--
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <param name="urdf_model" textfile="$(find tandem_mani)/urdf/tandem_mani.urdf" />

    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args=" -urdf -param urdf_model -model tandem_mani -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
-->
     <node name="tandem_control_controller_node" pkg="tandem_control" type="tandem_control_controller" output="screen" /> 
      <node name="tandem_control_client_node" pkg="tandem_control" type="tandem_control_client" 
        respawn="true" required="false" output="screen" respawn_delay="5" /> 

    <!-- <node name="floating_platform_node" pkg="tandem_control" type="floating_platform" output="screen" /> -->
    <!-- <node name="end_point_position" pkg="tandem_control" type="end_point_position" output="screen" /> -->
    <!-- <node name="fk" pkg="tandem_control" type="fk" output="screen" /> -->

</launch>
