<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="ti5_A_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_A_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="ti5_B_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_B_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    
    
    <transmission name="ti5_C_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_C_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    
    <transmission name="ti5_D_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_D_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    
    <transmission name="ti5_E_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_E_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    
    <transmission name="ti5_F_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_joint6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="ti5_F_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission> 
  
</robot>
