<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tandem_mani_1">

<!-- world link -->
  <link name="world"/>

  <joint name="joint_fix" type="fixed">
    <origin
      xyz="-0 -0 0"
      rpy="-1.5708 0 0" />
	<parent link="world"/>
	<child link="base_link"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00012418 -0.015731 3.7732E-05"
        rpy="0 0 0" />
      <mass
        value="0.14451" />
      <inertia
        ixx="7.7079E-05"
        ixy="3.1357E-08"
        ixz="1.3877E-08"
        iyy="0.00013443"
        iyz="2.3591E-08"
        izz="7.6836E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.00012086 -0.040968 -0.00053257"
        rpy="0 0 0" />
      <mass
        value="0.11786" />
      <inertia
        ixx="6.1085E-05"
        ixy="6.7886E-07"
        ixz="-1.9101E-06"
        iyy="4.9936E-05"
        iyz="-3.2479E-06"
        izz="6.7482E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.00015771 -0.0416 6.4042E-05"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.049871 -0.036814 0.016175"
        rpy="0 0 0" />
      <mass
        value="0.086527" />
      <inertia
        ixx="3.8287E-05"
        ixy="-1.7474E-06"
        ixz="2.5244E-06"
        iyy="3.9899E-05"
        iyz="-8.9317E-08"
        izz="3.2488E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.0072805 -0.0512 -0.028071"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0.25105 0 -0.96797" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.05964 -0.051304 -0.015751"
        rpy="0 0 0" />
      <mass
        value="0.1099" />
      <inertia
        ixx="6.2766E-05"
        ixy="-3.12E-05"
        ixz="-1.2938E-05"
        iyy="7.5072E-05"
        iyz="-1.2564E-05"
        izz="9.9991E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.075777 -0.059106 0.0097896"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0.74347 0.64037 0.19282" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0064861 -0.12619 -0.015522"
        rpy="0 0 0" />
      <mass
        value="0.12518" />
      <inertia
        ixx="0.00023967"
        ixy="8.3273E-06"
        ixz="3.9703E-06"
        iyy="5.1194E-05"
        iyz="-7.626E-05"
        izz="0.00022913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tandem_mani_1/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.073088 -0.052111 -0.04559"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="-0.046828 0.33747 -0.94017" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
